#img-bg{
    background-image: url('https://i.imgur.com/t9qHIvM.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: yellow;
}

@media screen and (max-width: 766px){
    .hide{
        display: none;
    }
    
}

