<div class="container mb-5 mt-5">

    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center text-info">Apagar Tema</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-info">Você tem certeza que deseja apagar este tema?<br>Todas as postagens relacionadas a ele serão apagadas junto.</h4>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-secondary mb-5">Tema: {{tema.descricao}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-warning mr-4" routerLink='/tema'><i class="fa fa-times" aria-hidden="true"></i> Não</button>
            <button class="btn btn-danger" (click)='apagar()'><i class="fa fa-check" aria-hidden="true"></i> Sim</button>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>